{{ 'component-image-with-text-new.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="image-with-text-wrapper page-width section-{{ section.id }}-padding">
    <div class="text-content">
      <div class="text-title">
          <h1>Bringing you the <span class="text-title-accent-color">best</span> audio gear</h1>
      </div>
      <div class="text-para" >
        <p>Located at the heart of New York City, Audiophile is the premier store for high end headphones, earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration rooms available for you to browse and experience a wide range of our products. Stop by our store to meet some of the fantastic people who make Audiophile the best place to buy your portable audio equipment.</p>
      </div>
    </div>

    <div class="image-content">

      {%- if section.settings.image != blank -%}
        {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
        {{ section.settings.image | image_url: width: 1500 | image_tag:
          loading: 'lazy',
          sizes: sizes,
          widths: '165, 360, 535, 750, 1070, 1500'
        }}
      {%- else -%}
        
      {{ images['GIRL-LISTENING-TO-MUSIC-2.jpg'] | image_url: width: 500 | image_tag }}
      {%- endif -%}


    </div>
</div>


{% schema %}
{
  "name": "t:sections.image-with-text-new.name",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text-new.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ],
  "blocks": [

  ],
  "presets": [

  ]
}
{% endschema %}
