{{ 'component-image-with-text-new.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .font-color-accent-1 {
    color: {{ settings.colors_accent_1 }};
  }

  .font-color-accent-2 {
    color: {{ settings.colors_accent_2 }};
  }

{%- endstyle -%}


<div class="image-with-text-wrapper page-width section-{{ section.id }}-padding">
    <div class="text-content-{{ section.settings.image_text_element_order }}">
      
      {% for block in section.blocks -%}
        {% case block.type %}
        
          {% when 'heading' %}
            <div class="text-title ">
              <h1>{{ block.settings.heading | escape }}</h1>
            </div>

          {% when 'text' %}
            <div class="text-para">
              {{ block.settings.text }}
            </div>
        
        {% endcase %}
      {% endfor %}


    </div>

    <div class="image-content-{{ section.settings.image_text_element_order }}">

      <!-- THIS IS AN  IMAGE BEING LOADED FROM THE SCHEMA/BACKEND -->
      {%- if section.settings.image != blank -%}
        {{ section.settings.image | image_url: width: 500, crop: 'center' | image_tag:
          loading: 'lazy'
        }}
      {%- else -%}
        
      {{ images['GIRL-LISTENING-TO-MUSIC-2.jpg'] | image_url: width: 500 | image_tag }}
      {%- endif -%}
    </div>
</div>


{% schema %}
{
  "name": "t:sections.image-with-text-new.name",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text-new.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    },
    {
      "type": "select",
      "id": "standout_color_scheme",
      "options": [
        {
          "value": "font-color-accent-1",
          "label": "blue"
        },
        {
          "value": "font-color-accent-2",
          "label": "green"
        },
        {
          "value": "",
          "label": "none"
        }
      ],
      "default": "",
      "label": "none"
    },
    {
      "type": "select",
      "id": "image_text_element_order",
      "options": [
        {
          "value":"",
          "label":"text-first"
        },
        {
          "value":"reverse",
          "label":"image-first"
        }
      ],
      "default":"",
      "label":"Text or image first"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text-new.blocks.heading.name",
      "limit":1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Add your title here",
          "label": "t:sections.image-with-text-new.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type":"text",
      "name":"t:sections.image-with-text-new.blocks.text.name",
      "limit":1,
      "settings":[
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Located at the heart of New York City, Audiophile is the premier store for high end headphones, earphones, speakers, and audio accessories.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
    "name":"t:sections.image-with-text-new.presets.name",
    "blocks":[
        {
          "type":"heading"
        },
        {
          "type":"text"
        }
      ]
    }
  ]
}
{% endschema %}
